:root {
    // rbg values of the brand colours
    --color-brand-50: 155, 222, 216;
    --color-brand-100: 134, 215, 208;
    --color-brand-200: 114, 209, 200;
    --color-brand-300: 94, 202, 193;
    --color-brand-400: 74, 196, 185;
    --color-brand-500: 54, 189, 177;
    --color-brand-600: 49, 170, 159;
    --color-brand-700: 43, 151, 142;
    --color-brand-800: 38, 132, 124;
    --color-brand-900: 32, 113, 106;
}

// make break words work as expected
.break-words {
    overflow-wrap: anywhere;
    // https://developer.mozilla.org/en-US/docs/Web/CSS/word-break
    word-break: normal;
}

html {
    font-family: proxima-nova, 'Helvetica Neue', 'Lato', Helvetica, Arial, sans-serif;
}

html,
body {
    min-height: 100vh;

    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    h4 {
        @apply text-lg;
    }
}

.dark .ui-panel {
    .ui-text>div {
        background-color: theme('colors.gray.500') !important;
    }
}

.page-enter-active,
.page-leave-active {
    transition: opacity 100ms ease;
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
}

.text-color {
    @apply text-gray-800;
}

.text-color-muted {
    @apply text-gray-500;
}

.dark {
    & .text-color {
        @apply text-gray-200;
    }

    & .text-color-muted {
        @apply text-gray-400;
    }
}
